<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReactInterViewApp"
        tools:targetApi="31">
        <activity
            android:name=".DeploymentActivity"
            android:exported="false" />
        <activity
            android:name=".BuildingAProjectActivity"
            android:exported="false"
            android:theme="@style/Theme.ReactInterViewApp" />
        <activity
            android:name=".AdvancedTopicsActivity"
            android:exported="false" />
        <activity
            android:name=".ReactAndBackendIntegrationActivity"
            android:exported="false" />
        <activity
            android:name=".TestingInReactActivity"
            android:exported="false" />
        <activity
            android:name=".PerformanceOptimizationActivity"
            android:exported="false" />
        <activity
            android:name=".WorkingWithAPIsActivity"
            android:exported="false" />
        <activity
            android:name=".HandlingFormsActivity"
            android:exported="false" />
        <activity
            android:name=".StateManagementActivity"
            android:exported="false" />
        <activity
            android:name=".StylingInReactActivity"
            android:exported="false" />
        <activity
            android:name=".RoutingWithReactRouterActivity"
            android:exported="false" />
        <activity
            android:name=".ReactHooksActivity"
            android:exported="false" />
        <activity
            android:name=".ReactFundamentalsActivity"
            android:exported="false" />
        <activity
            android:name=".IntroducationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>